!!! 5
html(lang="en")
	head
		link(type='text/css', rel='stylesheet', href='vidu2.css')
		title Hello vidu 2
	body
		#header-wrap
			ul
				li
					a(href='index.html') Home
				li
					a(href='index.html') API Reference
				li
					a(href='index,html') Guide
				li
					a(href='index.html') Applications
				li
					a(href='index.html') Community
				li.no-border
					a(href='index.html') FAQ
		#container
			#content
				ul
					li express 3.0.0
					li web
					li application
					li framework for
					li
						a(href='index.html') node

		#widget-wrap
			#widget widgdet content 

		#clident-wrap
			#clident client content goes here

		footer Content Footer